Service References/CustomerService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://Nimaz" />
  <xs:element name="addDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://Nimaz" minOccurs="0" name="customer" nillable="true" type="q1:CustomerClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="loadCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://Nimaz" minOccurs="0" name="loadCustomersResult" nillable="true" type="q2:CustomerClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>